@{
    ViewBag.Title = "Cart";
}
@model IEnumerable<Project_G3.Models.MovieDisplayViewModel>

@{
    //Om varukorgen är tomt ska detta visa annars visa filmen som man har lagt till
    if (ViewBag.ShoppingCart.Count == 0)
    {
        <div class="Title row">
            <h1 class="MSG">Shopping cart is empty!</h1>
            <p class="MSG">@Html.ActionLink("Back To Shop", "Index", "Home")</p>
        </div>
    }
    else
    {
        <h2>Varukorg:</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.MoviePosters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.MovieDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.MovieReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.MovieDuration)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Movie.MoviePrice)
                </th>
                <th></th>
            </tr>
            @foreach (Project_G3.Models.MovieDisplayViewModel item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action(" Info","Home",new { id=item.Movie.MovieId })">
                            <img id="info-img" src="@Html.DisplayTextFor(model => item.Movie.MoviePosters)" />
                        </a>
                    </td>
                    <td>
                        <p style="font-weight:600;">Title: @Html.DisplayFor(modelItem => item.Movie.MovieDescription)</p>
                        @Html.DisplayFor(modelItem => item.Movie.MovieDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.MovieReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.MovieDuration)
                    </td>
                    <td>
                        @if (item.IsOnSale)
                        {
                            <p style="text-decoration: line-through">@Html.DisplayFor(modelItem => item.Movie.MoviePrice)</p>
                            <p class="mvlp"><span style="color:red">@Html.DisplayFor(modelItem => item.NewPrice) SEK</span></p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Movie.MoviePrice)
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "DeleteFromCart", new { Id = item.Movie.MovieId })
                    </td>
                </tr>
            }
        </table>
        <hr />
        <div class="row">
            @*Visa Totalt pris*@
            <p class="Price pull-right">Totalt: @ViewBag.Sum SEK</p>
        </div>
        <div class="row" style="padding:12px;">
            <a class="btn btn-default pull-left" href="@Url.Action("ConfirmAdress","Home", new { SelectedId = 1 })" style="min-width:40%">Continue as guest</a>
            <a class="btn btn-default pull-right" href="@Url.Action("ConfirmAdress","Home", new {SelectedId = 2 })" style="width:40%">Continue</a>
        </div>

    }
}
