@model IEnumerable<Project_G3.Models.Movie>

@{
    //Om varukorgen är tomt ska detta visa annars visa filmen som man har lagt till
    if (ViewBag.ShoppingCart.Count == 0)
    {
        <div class="Title row">
            <h1 class="MSG">Shopping cart is empty!</h1>
            <p class="MSG">@Html.ActionLink("Back To Shop", "Index", "Home")</p>
        </div>
    }
    else
    {
        <h2>Varukorg:</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoviePosters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoviePrice)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieDuration)
                    </td>
                    <td>
                        <a href="@Url.Action("Info","Home",new { id = item.MovieId })">
                            <img id="info-img" src="@Html.DisplayTextFor(model => item.MoviePosters)" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoviePrice)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteFromCart", new { Id = item.MovieId })
                    </td>
                </tr>
            }
        </table>
        <hr />
        <div class="row">
            @*Visa Totalt pris*@
            <p class="Price pull-right">Totalt: @ViewBag.Sum kr</p>
        </div>

        @*<form class="form-group">
                <label for="Payment method">Payment method</label>
                <select class="form-control">
                    <option>Large select</option>
                    <option>Large select2</option>
                </select>
            </form>*@

        @*<form class="form-inline">
                <label class="h3" for="inlineformcustomselect">chose your payment</label>
                <select class="custom-select" id="inlineformcustomselect">
                    <option selected>choose...</option>
                    <option value="1">Master card</option>
                    <option value="2">Visa card</option>
                    <option value="3">Paypal</option>
                    <option value="4">Swish</option>
                </select>
        </form>*@

        <button role="presentation" class="dropdown" style="width: 100%;height: 44px; border:none; border-radius:4px;">
                <div class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Click here to choose your payment method
                </div>
                <div class="drop dropdown-menu" style="width:100%;">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleradios" id="MasterCard" value="option1" checked>
                            <img src="~/picture/—pngtree—mastercard logo icon_6019479.png" width="65" />
                            Master card
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleradios" id="VisaCard" value="option2" checked>
                            <img src="~/picture/visa.png" width="65" />
                            Visa card
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleradios" id="Paypal" value="option3" checked>
                            <img src="~/picture/paypal.png" width="65" />
                            Paypal
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleradios" id="Swish" value="option4" checked>
                            <img src="~/picture/Swish.png" width="65" />
                            Swish
                        </label>
                    </div>
                </div>
                </button>
            <div class="row" style="padding:12px;">
                <button class="btn1 pull-left btn" type="button">Already Custumer? Sign in</button>
                <button class="btn1 pull-right btn" type="button">Already Custumer? Sign in</button>
            </div>

    }
}
