@{
    ViewBag.Title = "Cart";
}
@model IEnumerable<Project_G3.Models.Movie>

@{
    //Om varukorgen är tomt ska detta visa annars visa filmen som man har lagt till
    if (ViewBag.ShoppingCart.Count == 0)
    {
        <div class="Title row">
            <h1 class="MSG">Shopping cart is empty!</h1>
            <p class="MSG">@Html.ActionLink("Back To Shop", "Index", "Home")</p>
        </div>
    }
    else
    {
        <h2>Varukorg:</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MoviePosters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDuration)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.MoviePrice)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action(" Info","Home",new { id=item.MovieId })">
                            <img id="info-img" src="@Html.DisplayTextFor(model => item.MoviePosters)" />
                        </a>
                    </td>
                    <td>
                        <p style="font-weight:600;">Title: @Html.DisplayFor(modelItem => item.MovieTitle)</p>
                        @Html.DisplayFor(modelItem => item.MovieDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoviePrice)
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "DeleteFromCart", new { Id = item.MovieId })
                    </td>
                </tr>
            }
        </table>
        <hr />
        <div class="row">
            @*Visa Totalt pris*@
            <p class="Price pull-right">Totalt: @ViewBag.Sum kr</p>
        </div>
        <div class="row" style="padding:12px;">
            <a class="btn btn-default pull-left" href="@Url.Action("ConfirmAdress","Home", new {SelectedId=1 })" style="min-width:40%">Continue as guest</a>
            <a class="btn btn-default pull-right" href="@Url.Action("ConfirmAdress","Home", new {SelectedId=2 })" style="width:40%">Continue</a>
        </div>

    }
}
