@model Project_G3.Models.PaymentOptionViewModels
<div class="form row">
    <form class="form-horizontal">
        <div class="form-group">
            <h2>Faktura adress:</h2>
        </div>
        <div class="formsInput form-group">
            <input type="email" class="form-control" id="inputFirstName" placeholder="Firstname" style=" width: 49%; float: left; margin-right: 1%;">
            <input type="email" class="form-control" id="inputLastName" placeholder="Lastname" style=" width: 49%; float: left; margin-left: 1%;">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Street Adress">
        </div>
        <div class="formsInput form-group">
            <input type="email" class="form-control" id="inputZipcode" placeholder="Zip-code" style=" width: 34%; float: left; margin-right: 1%;">
            <input type="email" class="form-control" id="inputCity" placeholder="City" style=" width: 64%; float: left; margin-left: 1%;">
        </div>
        <div class="formsInput form-group">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email-adress">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Phone-number">
        </div>
    </form>
</div>

@using (Html.BeginForm("ConfirmAdress", "Home", FormMethod.Post))
{
    <div class="row">
        <label></label>
        <h3 style="height:65px;">Payment method: <img src="@ViewBag.PaymentIcon" width="65" /></h3>
        <button role="presentation" class="dropdown btn btn-default" style="width: 100%;height: 44px;">
            <div class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @ViewBag.Name
            </div>
            <div class="drop dropdown-menu" style="width:100%;">
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentName, "Master Card", new { @value = "Option1", @class = "form-check-input", @type = "radio", @name = "exampleradios" })
                        <img src="~/picture/—pngtree—mastercard logo icon_6019479.png" width="65" />
                        Master card
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentName, "Visa", new { @value = "Option2", @class = "form-check-input", @type = "radio", @name = "exampleradios" })
                        <img src="~/picture/visa.png" width="65" />
                        Visa card
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentName, "Paypal", new { @value = "Option3", @class = "form-check-input", @type = "radio", @name = "exampleradios" })
                        <img src="~/picture/paypal.png" width="65" />
                        Paypal
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.RadioButtonFor(m => m.PaymentName, "Swish", new { @value = "Option4", @class = "form-check-input", @type = "radio", @name = "exampleradios" })
                        <img src="~/picture/Swish.png" width="65" />
                        Swish
                    </label>
                </div>
            </div>
        </button>
        @*<div class="col-lg">
                <a class="btn btn-default pull-left" href="@Url.Action("Cart","Home")" style="width:35%" ;>Back</a>
                <a class="btn btn-default pull-right" href="@Url.Action("Receipt","Payment")" style="width:35%" ;">Continue</a>
            </div>*@
        <div class="col-lg">
            <a class="btn btn-default pull-left" href="@Url.Action("Cart","Home")" style="width:35%" ;>Back</a>
            <a class="btn btn-default pull-right" href="@Url.Action("PaymentMethod","Payment")" style="width:35%" ;>Check Out</a>
        </div>
    </div>
}

