@model IEnumerable<Project_G3.Models.MovieDisplayViewModel>

@{
    ViewBag.Title = "GetFlashSale";
}



<style>

    .FlashSale {
        font-family: futura;
        font-style: italic;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 5em;
        background-color: #2a2a72;
        border: solid white;
        border-radius: 5px;
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    }

    body {
        background-color: #fdf1ec;
    }

    .wrapper {
        height: 420px;
        width: 654px;
        margin: 50px auto;
        border-radius: 7px 7px 7px 7px;
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        transition: transform .2s;
        max-width: 100%;
    }

        .wrapper:hover {
            transform: scale(1.1);
        }

    .product-img {
        float: left;
        max-height: 420px;
        max-width: 327px;
    }

        .product-img img {
            border-radius: 7px 0 0 7px;
        }

    .product-info {
        float: left;
        height: 420px;
        width: 327px;
        border-radius: 0 7px 10px 7px;
        background-color: #ffffff;
    }

    .product-text {
        max-height: 300px;
        max-width: 327px;
    }

        .product-text h1 {
            margin: 0 0 0 38px;
            padding-top: 52px;
            font-size: 34px;
            color: #474747;
        }

        .product-text h1,
        .product-price-btn p {
            font-family: "Bentham", serif;
        }

        .product-text h2 {
            margin: 0 0 47px 38px;
            font-size: 13px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            color: #d2d2d2;
            letter-spacing: 0.2em;
        }

        .product-text p {
            height: 125px;
            margin: 0 0 0 38px;
            font-family: "Playfair Display", serif;
            color: #8d8d8d;
            line-height: 1.7em;
            font-size: 15px;
            font-weight: lighter;
            overflow: hidden;
        }


    .Flash {
        float: right;
        max-height: 150px;
        max-width: 150px;
        transform: rotate(30deg);
    }

    .Flash2 {
        float: left;
        max-height: 150px;
        max-width: 150px;
        position: absolute;
        top: 40%;
    }

    p.oldprice {
        color: black;
        opacity: 0.3;
        text-decoration: line-through;
        text-align: center;
    }

    p.newprice {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }

    .saleIMG {
        max-height: 35%;
        max-width: 35%;
        border-radius: 30%;
        position: absolute;
        top: 57%;
        left: 59%;
    }

    .saleIMG2 {
        max-height: 35%;
        max-width: 35%;
        border-radius: 30%;
        position: absolute;
        top: 60%;
        left: 59%;
    }

    .fiftyoff {
        text-align: center;
        font-family: futura;
        font-style: italic;
        max-width: 50%;
        max-height:auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 5em;
        background-color: #fc030b;
        border: solid white;
        border-radius: 5px;
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    @@media screen and (max-width:1000px){
       
        .FlashSale{
            display:none;
        }
        .product-img{
            display:none;
        }
        .wrapper{
            display:none;
            display:flex;
        }
        .product-img{
            display:none;
        }
        .product-info{
            display:none;
        }
        .product-text{
            display:none;
        }
        .mvlbtn{
            display:none;
        }
        .Flash{
            display:none;
        }
       .Flash2{
           display:none;
       }
        .wrapper:hover {
            display:none;
        }
        .fiftyoff{
            display:none;
        }

    }

</style>

@Html.Partial("_Navigations")



<h2 class="FlashSale">FLASHSALE</h2>
<a href="#S1"><img class="Flash" src="https://cdn.pixabay.com/photo/2017/05/26/05/38/discount-2345221_960_720.png" alt="FlashSale" /></a>





@foreach (Project_G3.Models.MovieDisplayViewModel movie in Model)
{
    <div class="wrapper">
        <div class="product-img">
            <img src=@movie.Movie.MoviePosters height="420" width="327" />
        </div>
        <div class="product-info">

            <div class="product-text">
                <h1>
                    @Html.DisplayFor(modelItem => movie.Movie.MovieTitle)

                </h1>
                <h2>&nbsp; @movie.Movie.MovieReleaseYear | @movie.Movie.MovieDuration min </h2>

                <p>
                    @movie.Movie.MovieDescription
                </p>

            </div>

            <p class="newprice">New price: <span style="color:red">@movie.NewPrice SEK</span></p>
            <p class="oldprice">@movie.Movie.MoviePrice SEK</p>

        </div>
        <a class="mvlbtn btn btn-default" href="@Url.Action("AddToCart","Home", new { Id = movie.Movie.MovieId })"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</a>
    </div>
    
}


<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("wrapper");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 6000);
    }
</script>




<hr class="solid">
<h2 class="fiftyoff" id="S1">50% OFF</h2>
<div class="row">
    @foreach (Project_G3.Models.MovieDisplayViewModel movie1 in Model)
    {
        if (movie1.FlashSale == "50%")
        {
            <div class="column col-md-2">
                <h4 class="Movietitle">@movie1.Movie.MovieTitle</h4>

                <a href="@Url.Action("Info","Home",new { id = movie1.Movie.MovieId })">
                    <img id="col-img" src="@movie1.Movie.MoviePosters" />
                </a>

                <p class="oldprice">@movie1.Movie.MoviePrice SEK</p>
                <p class="mvlp">New price:<span style=" color:red"> @movie1.NewPrice SEK</span></p>
                <a class="mvlbtn btn btn-default" href="@Url.Action("AddToCart","Home", new { Id = movie1.Movie.MovieId })"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</a>
                <img class="saleIMG" src="https://th.bing.com/th/id/R1c60bd8e3af6f1d7f1d8fb318d61731d?rik=5CkMs7XRhHCAZQ&riu=http%3a%2f%2fwww.pngall.com%2fwp-content%2fuploads%2f2016%2f04%2f50-off-Transparent.png&ehk=CMvnKP86M9ZJXRAUkB6goVWtw79ntEohcX9lIaD2nsg%3d&risl=&pid=ImgRaw" alt="50%off" />
            </div>
        }

    }
</div>


