@model Project_G3.Models.Movie

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePosters)
        </dt>

        <dd>
            <img id="info-img" src="@Html.DisplayTextFor(model => model.MoviePosters)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoviePrice)
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("Back to Movie", "Index")
</p>
