@model Project_G3.Models.Movie

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.MovieTitle)?</h3>
<div>
    @*<h4>Movie</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePosters)
        </dt>

        <dd>
            @* @Html.DisplayFor(model => model.MoviePosters)*@
            <a href="@Url.Action(" Info","Home")">
                <img id="info-img" src="@Html.DisplayTextFor(model => model.MoviePosters)" />
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>

        <dd style="width:40%">
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoviePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoviePrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="MovieId" value="Model.MovieId"/>
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "MovieList")
        </div>
    }
</div>
