@model IEnumerable<Project_G3.Models.MovieDisplayViewModel>

<div class="Row">
    <div class="row" style="width:fit-content;margin:auto;">
        <img src="~/Picture/free-movie-icon-850-thumb.png" width="120" />
    </div>
    <h1 class="thankscard">Thank you for your purchase!</h1>
    @foreach (var item in ViewBag.CustomDetails)
    {
        <div class="inner-row" style="margin-bottom: 10px;">
            <h3>Delivery To:</h3>
            <p>Name: @item.FirstName @item.LastName</p>
            <p>Email: @item.EmailAdress</p>
            <hr />
            <h3>Receipt To:</h3>
            <p>Name: @item.FirstName Lastname @item.LastName</p>
            <p>Street adress: @item.StreetAdress</p>
            <p>Zip: @item.Zipcode @item.City</p>
            <p>Email: @item.EmailAdress</p>
            <p>Phone: @item.PhoneNumber</p>
        </div>
    }
    <div class="inner-row">
        <table class="table">
            <tr>
                <th>
                    Movie
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>

            @foreach (Project_G3.Models.MovieDisplayViewModel item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Info","Home",new { id = item.Movie.MovieId })">
                            <img id="info-img" src="@Html.DisplayTextFor(ModelItem => item.Movie.MoviePosters)" />
                        </a>
                    </td>
                    <td>
                        <p style="font-weight:600;">Title: @Html.DisplayFor(ModelItem => item.Movie.MovieTitle)</p>
                        @Html.DisplayFor(ModelItem => item.Movie.MovieDescription)
                    </td>
                    <td>
                        @if (item.IsOnSale)
                        {
                            <p style="text-decoration: line-through">@Html.DisplayFor(modelItem => item.Movie.MoviePrice)</p>
                            <p class="mvlp"><span style="color:red">@Html.DisplayFor(modelItem => item.NewPrice) SEK</span></p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Movie.MoviePrice)
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        @*Visa Totalt pris*@
        <p class="Price pull-right" style="color:white;">Totalt: @ViewBag.Sum SEK</p>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="MSG"><a class="BackToTopBtn" href="@Url.Action("DeleteFromCart","Home", new { Id = item.Movie.MovieId })">Back To Shopping</a></div>
    </div>
}